<div class="container-big-card">
	<div class="big-card-photo">
		<img
			src="https://cdn1.epicgames.com/offer/16ed9f15b1b449ccb59cb610b13df5b8/EPIC-MarketingSizes-1r1-1920x1080_1920x1080-2b0de61ac94515759c64f914188ca9b5"
			alt=""
			srcset=""
		/>
	</div>
	<div class="big-card-title">
		<h1><a href="#">TITLE PLACEHOLDER</a></h1>
	</div>
	<div class="big-card-description">
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum
			accusamus laudantium ea. Tempore sint illo repellendus dolorum! Amet,
			exercitationem, non eos nostrum corrupti numquam qui, vitae sequi officia
			est in?
		</p>
	</div>
</div>
