.container-title {
	margin-top: 1rem;
}
.container-title > h1 {
	display: flex;
	justify-content: center;
	font-size: 5rem;
	font-family: "Segoe UI", sans-serif;
	color: #ffffff;
}
.container-title > hr {
	border: 0.1rem solid #791e94;
}
